#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [2]:
import pymysql #did a "pip install PyMySQL" in Anaconda prompt
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [3]:
#A supprimer avant de pousser sur git
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table

In [4]:
users = pd.read_sql_query('SELECT * FROM stats.users', engine)

#### 5. Rename Id column to userId

In [5]:
users.rename(columns={'Id': 'userId'}, inplace=True)

#### 6. Import the posts table.

In [6]:
posts = pd.read_sql_query('SELECT * FROM stats.posts',engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts.rename(columns={'Id':'postId','OwnerUserId':'userId'}, inplace=True)

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [8]:
#df_users = pd.read_sql_query('SELECT Id as userId, Reputation, Views, UpVotes, DownVotes FROM stats.users')
df_users = pd.DataFrame(users, columns=['userId','Reputation','Views','UpVotes','DownVotes'])
df_posts = pd.DataFrame(posts, columns=['postId','Score','userId','ViewCount','CommentCount'])

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [9]:
merged = df_users.merge(df_posts,left_on='userId',right_on='userId')
merged

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
5,-1,1,0,5007,1920,9857,0,NaN,0
6,-1,1,0,5007,1920,9858,0,NaN,0
7,-1,1,0,5007,1920,9860,0,NaN,0
8,-1,1,0,5007,1920,10130,0,NaN,0
9,-1,1,0,5007,1920,10131,0,NaN,0
10,-1,1,0,5007,1920,15331,0,NaN,0
11,-1,1,0,5007,1920,15332,0,NaN,0
12,-1,1,0,5007,1920,16296,0,NaN,0
13,-1,1,0,5007,1920,16366,0,NaN,0
14,-1,1,0,5007,1920,19423,0,NaN,0
15,-1,1,0,5007,1920,19848,0,NaN,0
16,-1,1,0,5007,1920,20259,0,NaN,0
17,-1,1,0,5007,1920,20261,0,NaN,0
18,-1,1,0,5007,1920,20262,0,NaN,0
19,-1,1,0,5007,1920,20263,0,NaN,0
20,-1,1,0,5007,1920,20264,0,NaN,0
21,-1,1,0,5007,1920,20485,0,NaN,0
22,-1,1,0,5007,1920,20487,0,NaN,0
23,-1,1,0,5007,1920,20489,0,NaN,0
24,-1,1,0,5007,1920,20490,0,NaN,0
25,-1,1,0,5007,1920,21497,0,NaN,0
26,-1,1,0,5007,1920,21795,0,NaN,0
27,-1,1,0,5007,1920,21856,0,NaN,0
28,-1,1,0,5007,1920,21860,0,NaN,0
29,-1,1,0,5007,1920,21861,0,NaN,0
...,...,...,...,...,...,...,...,...,...
90554,55674,1,0,0,0,115228,0,22.0,1
90555,55676,1,1,0,0,115231,0,25.0,1
90556,55677,1,1,0,0,115232,0,28.0,2
90557,55679,1,0,0,0,115236,0,13.0,0
90558,55682,13,0,0,0,115246,2,20.0,0
90559,55684,6,0,0,0,115253,1,31.0,6
90560,55687,6,0,0,0,115264,1,35.0,0
90561,55689,6,0,0,0,115270,1,28.0,7
90562,55695,1,0,0,0,115278,0,4.0,0
90563,55697,1,0,0,0,115285,0,22.0,4
90564,55699,6,0,0,0,115287,1,23.0,6
90565,55702,26,1,0,0,115291,5,29.0,1
90566,55709,1,0,0,0,115312,0,6.0,0
90567,55710,1,0,0,0,115313,0,18.0,4
90568,55713,6,0,0,0,115315,1,36.0,2
90569,55714,6,0,0,0,115316,1,20.0,3
90570,55715,6,0,0,0,115321,1,9.0,0
90571,55718,6,0,0,0,115327,1,25.0,0
90572,55719,1,1,0,0,115328,0,10.0,0
90573,55720,1,0,0,0,115331,0,12.0,1
90574,55724,16,1,0,0,115335,3,19.0,1
90575,55729,16,1,0,0,115338,0,NaN,0
90576,55730,1,0,0,0,115340,0,18.0,1
90577,55731,1,0,0,0,115350,0,3.0,0
90578,55733,6,1,0,0,115356,1,15.0,0
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [32]:
nb_users_lines = df_users.shape[0]
nb_posts_lines = df_posts.shape[0]
nb_merged_lines = merged.shape[0]
print("df_users", nb_users_lines)
print("df_posts", nb_posts_lines)
print("merged", nb_merged_lines)
"""There are postId without a registered userId, those lines appear with userId=-1
Incoherent values on every columns of users table: 
'userId' set to -1,'Reputation' set to 1,'Views' set to 0,'UpVotes' set to 5007,'DownVotes' set to 1920"""

df_users 40325
df_posts 91976
merged 90584

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [14]:
null_cols = merged.isnull().sum()
null_cols[null_cols > 0]#more than half of the merged lines have null ViewCount
#need to clean them. First drop userId = -1
test = merged.loc[merged['userId'] != -1]
test
#still having NaN ViewCount. Those data are relevant so we will change to 0.
test['ViewCount'] = test['ViewCount'].fillna(0)
"""drop_lines = list(null_lines[null_lines > 10000])
merged = merged.drop(drop_lines, axis=0)"""

C:\Users\Elodie\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

'drop_lines = list(null_lines[null_lines > 10000])\nmerged = merged.drop(drop_lines, axis=0)'

In [15]:
test

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
211,5,6792,1145,662,5,6,152,29229.0,5
212,5,6792,1145,662,5,12,20,0.0,1
213,5,6792,1145,662,5,32,12,0.0,0
214,5,6792,1145,662,5,49,6,0.0,0
215,5,6792,1145,662,5,64,6,0.0,0
216,5,6792,1145,662,5,76,22,0.0,3
217,5,6792,1145,662,5,83,2,0.0,0
218,5,6792,1145,662,5,96,4,0.0,0
219,5,6792,1145,662,5,103,28,1990.0,6
220,5,6792,1145,662,5,108,14,0.0,1
221,5,6792,1145,662,5,125,75,29261.0,2
222,5,6792,1145,662,5,126,26,0.0,4
223,5,6792,1145,662,5,131,23,0.0,0
224,5,6792,1145,662,5,139,21,0.0,2
225,5,6792,1145,662,5,197,9,0.0,1
226,5,6792,1145,662,5,199,4,0.0,0
227,5,6792,1145,662,5,217,6,0.0,4
228,5,6792,1145,662,5,299,8,0.0,0
229,5,6792,1145,662,5,306,8,0.0,2
230,5,6792,1145,662,5,314,11,0.0,1
231,5,6792,1145,662,5,329,11,0.0,0
232,5,6792,1145,662,5,398,14,0.0,1
233,5,6792,1145,662,5,423,156,64481.0,7
234,5,6792,1145,662,5,433,40,0.0,0
235,5,6792,1145,662,5,504,4,0.0,0
236,5,6792,1145,662,5,550,11,0.0,0
237,5,6792,1145,662,5,560,9,0.0,2
238,5,6792,1145,662,5,562,10,1005.0,1
239,5,6792,1145,662,5,569,3,0.0,0
240,5,6792,1145,662,5,593,3,0.0,1
...,...,...,...,...,...,...,...,...,...
90554,55674,1,0,0,0,115228,0,22.0,1
90555,55676,1,1,0,0,115231,0,25.0,1
90556,55677,1,1,0,0,115232,0,28.0,2
90557,55679,1,0,0,0,115236,0,13.0,0
90558,55682,13,0,0,0,115246,2,20.0,0
90559,55684,6,0,0,0,115253,1,31.0,6
90560,55687,6,0,0,0,115264,1,35.0,0
90561,55689,6,0,0,0,115270,1,28.0,7
90562,55695,1,0,0,0,115278,0,4.0,0
90563,55697,1,0,0,0,115285,0,22.0,4
90564,55699,6,0,0,0,115287,1,23.0,6
90565,55702,26,1,0,0,115291,5,29.0,1
90566,55709,1,0,0,0,115312,0,6.0,0
90567,55710,1,0,0,0,115313,0,18.0,4
90568,55713,6,0,0,0,115315,1,36.0,2
90569,55714,6,0,0,0,115316,1,20.0,3
90570,55715,6,0,0,0,115321,1,9.0,0
90571,55718,6,0,0,0,115327,1,25.0,0
90572,55719,1,1,0,0,115328,0,10.0,0
90573,55720,1,0,0,0,115331,0,12.0,1
90574,55724,16,1,0,0,115335,3,19.0,1
90575,55729,16,1,0,0,115338,0,0.0,0
90576,55730,1,0,0,0,115340,0,18.0,1
90577,55731,1,0,0,0,115350,0,3.0,0
90578,55733,6,1,0,0,115356,1,15.0,0
90579,55734,1,0,0,0,115352,0,16.0,0
90580,55738,11,0,0,0,115360,2,40.0,4
90581,55742,6,0,0,0,115366,1,17.0,0
90582,55744,6,1,0,0,115370,1,13.0,2
90583,55746,106,1,0,0,115376,1,5.0,2

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [20]:
test.dtypes
#ViewCount is float64 while it shoule be the same as others : int64
test["ViewCount"] = test["ViewCount"].astype("int64")

C:\Users\Elodie\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.

In [22]:
stats = test.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
userId,90373.0,16585.399920,15270.218327,5.0,3488.0,11075.0,27765.0,55746.0,24277.0
Reputation,90373.0,6297.061014,15116.834946,1.0,61.0,401.0,4460.0,87393.0,4399.0
Views,90373.0,1036.659898,2883.000130,0.0,5.0,46.0,515.0,20932.0,510.0
UpVotes,90373.0,724.339991,2042.831900,0.0,1.0,22.0,283.0,11442.0,282.0
DownVotes,90373.0,28.868180,99.597660,0.0,0.0,0.0,8.0,779.0,8.0
postId,90373.0,56558.789019,33856.925790,1.0,26034.0,57266.0,86184.0,115378.0,60150.0
Score,90373.0,2.787259,4.952869,-19.0,1.0,2.0,3.0,192.0,2.0
ViewCount,90373.0,259.858697,1634.117664,0.0,0.0,0.0,112.0,175495.0,112.0
CommentCount,90373.0,1.899074,2.640192,0.0,0.0,1.0,3.0,45.0,3.0

In [25]:
outliers = pd.DataFrame(columns=test.columns)

for col in stats.index:
    iqr = stats.at[col,'IQR']
    cutoff = iqr * 3
    lower = stats.at[col,'25%'] - cutoff
    upper = stats.at[col,'75%'] + cutoff
    results = test[(test[col] < lower) | 
                   (test[col] > upper)].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)
    
outliers.to_csv('outliers.csv', index=False)